

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Tienes un incidente con la página?</h1>
        <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
        <p>
        <% if user_signed_in? %>
            <%= link_to 'Create Form', new_incident_path, class: "btn btn-primary my-2" %>
            <%= link_to 'View Forms', incident_index_path, class: "btn btn-secondary my-2" %>
        <% else %>
            <h6>Registrate o inicia sesion para que puedas reportar tu incidente</h6>            
            <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary my-2' %>
            <%= link_to "Login", new_user_session_path, :class => 'btn btn-primary my-2' %>
        <% end %>
        </p>
      </div>
    </div>
  </section>
</main>